@font-face {
  font-family: 'poppins';
  font-weight: normal;
  font-display: swap;
  src: url('../../../public/fonts/Poppins-Light.woff') format('woff'),
    url('../../../public/fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'poppins';
  font-weight: bold;
  font-display: swap;
  src: url('../../../public/fonts/Poppins-Medium.woff') format('woff'),
    url('../../../public/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'yekan';
  font-weight: bold;
  src: url('../../../public/fonts/m2.woff') format('woff');
}

@font-face {
  font-family: 'yekan';
  font-weight: normal;
  src: url('../../../public/fonts/m1.woff') format('woff');
}

@font-face {
  font-family: 'vazir';
  font-weight: bold;
  src: url('../../../public/fonts/Vazir-Bold.woff') format('woff');
}

@font-face {
  font-family: 'vazir';
  font-weight: normal;
  src: url('../../../public/fonts/Vazir-Medium.woff') format('woff');
}

@font-face {
  font-family: 'vazir';
  font-weight: 300;
  src: url('../../../public/fonts/Vazir-Light.woff') format('woff');
}

@font-face {
  font-family: 'vazir';
  font-weight: 150;
  src: url('../../../public/fonts/Vazir-Thin.woff') format('woff');
}
/*
  ----------------------------------------------------general---------------------------------------------------------

*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: vazir, poppins, serif;
  font-weight: 300;
  background: linear-gradient(
    180deg,
    rgba(255, 249, 252, 0.68),
    rgba(250, 234, 214, 0.65)
  );
}
a {
  color: inherit;
  text-decoration: none;
}
:root {
  --light-pink: rgb(250, 224, 216);
  --mid-pink: rgb(236, 170, 151);
  --light-black: rgb(66, 66, 66);
  --white-pink: rgba(248, 243, 243, 0.74);
  --light-grey: rgba(224, 222, 222, 1);
  --white-pink-opacity: rgba(236, 170, 151, 0.5);
  --dashboard-dark: #3f4d67;
}

img {
  width: 100%;
  height: 100%;
}
s {
  color: #f16969;
}
.header {
  background-color: var(--mid-pink);
  width: 100%;
  padding: 0;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 22px;
  font-family: poppins, serif;
  color: white;
  z-index: 20;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /*background:linear-gradient(282deg,#c82471,#d09192);*/

  /*border-bottom: var(--light-black) 1px solid;*/
}

.header a {
  margin: 7px 0 0 7px;
}

.header span {
  width: 40px;
  height: 40px;
}

main {
  /* padding: 0 5px 70px; */
  padding-block: 18px 60px;
}
/* appBar */
.appBar {
  z-index: 10;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 60px;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  background-color: var(--mid-pink);
  /*border-top: var(--light-black) 1px solid;*/
  /*shadow-bar px-5 py-4 flex gap-2 justify-between fixed bottom-0 inset-x-0 z-10*/
}
.appBarIcon {
  z-index: 12;
  position: relative;
  margin-top: 7px;
  width: 30px;
  height: 30px;
  color: var(--light-black);
}
.appBarIconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.appBarIconContainer > p {
  font-size: small;
  color: white;
}

/* .center-circle {
  position: relative;
  bottom: 50%;
  background-color: #fff;
  border-radius: 22px;
}
.center-circle::after {
  content: '';
  position: absolute;
  background: url('../../assets/img/svg/curve.svg');
  inset-inline-start: -12px;
  width: 14px;
  height: 14px;
  z-index: 2;
  top: 14px;
  background-repeat: no-repeat;
}
.center-circle::before {
  content: '';
  position: absolute;
  background: url('../../assets/img/svg/curve-rotate.svg');
  inset-inline-end: -12px;
  width: 14px;
  height: 14px;
  z-index: 2;
  top: 14px;
  background-repeat: no-repeat;
} */

/*
  ------------------------------------------------------pages---------------------------------------------------------

*/
/* home page */
.resumeText {
  padding: 10px 10px;
}
.resumeText h2 {
  font-size: 16px;
  font-weight: 400;
}
.resumeText p {
  font-size: 14px;
  padding-right: 10px;
}
/* newOrder page */
.newOrderMain {
  display: flex;
  padding: 0 20px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orderForm {
  margin: 10px 0 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  gap: 20px;
}
/* .orderForm > * {
  width: 100%;
} */

/* .orderSelect {
  border: 1px solid var(--mid-pink) !important;
} */
.table {
  border-collapse: collapse;
  padding: 40px 20px;
}
.discount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.discountButton {
  background-color: var(--mid-pink) !important;
  width: 20%;
  text-decoration: none !important;
  font-size: 18px !important;
  color: #fff !important;
  height: 50px;
}
.discountInput {
  border: 1px solid var(--mid-pink);
  padding: 10px;
  width: 75%;
  border-radius: 10px;
  background-color: var(--white-pink);
}
.table tr {
  border-bottom: 1px solid black;
}
.table td {
  padding: 10px 20px 0;
}
.table tbody tr:last-child {
  border-bottom: 0;
}

/* orders page */

.order-card-title {
  position: relative;
}

.order-card-title::before {
  content: '';
  position: absolute;
  inset-inline-start: 0;
  bottom: -14px;
  border-right: 14px solid transparent;
  border-top: 14px solid var(--mid-pink);
}

.order-card-title::after {
  content: '';
  position: absolute;
  inset-inline-end: 0;
  bottom: -14px;
  border-left: 14px solid transparent;
  border-top: 14px solid var(--mid-pink);
}
.cartItemContainer {
  /*background: url("/public/img/svg/bag.svg");*/
  /*background-size: cover;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  width: 100%;
  max-width: 400px;
  background-color: var(--light-pink);
  box-shadow: 0 9px 15px #c2c1c1;
  padding: 20px;
}
.orderInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 6px;
}
.orderInfo:nth-last-child(1) {
  margin-bottom: 0;
}
.orderInfo.dashedBottom {
  padding-bottom: 8px;
  border-bottom: 1px dashed black;
}
.orderInfoIcon {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 5px;
}
.cartContainer {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  gap: 10px;
}
.payButtom {
  width: 100%;
  max-width: 400px;
  height: 50px;
  border-radius: 18px;
  background-color: #93ee93;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  box-shadow: 0 10px 15px #c2c1c1;
}
/*
  ------------------------------------------------------max page---------------------------------------------------------
*/
.magMain {
  padding: 20px 20px;
  background-color: var(--light-pink);
}
.magCategories {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  align-items: flex-start;
}

/*
  -----------------------------------------------------profile page------------------------------------------------------
*/

.profileMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 20px 70px;
}

.addressSection {
  display: flex;
  width: 100%;
  max-width: 600px;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
  /*align-items: center;*/
}
.addressContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px dashed black;
  border-radius: 12px;
  padding: 10px 10px;
}
.addressContainer.add {
  justify-content: center;
}
.addressDetails {
  padding-right: 10px;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  align-self: stretch;
}
.addressItem {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.addressMap {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addressMap > span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addressMap > span img {
  border-radius: 12px;

  width: 100%;
  height: 100%;
}

.profileMain .infoBox {
  width: 100%;
  height: auto;
  max-width: 600px;
  gap: 10px;
  justify-content: stretch;
  align-items: flex-start;
  background-color: var(--light-pink);
}
.profileMain .infoBox h4 {
  margin-right: 50px;
}
.profileCardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profileCardDetails {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-self: stretch;
}
.profileCardPicture {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoBox.orderRow {
  padding-top: 5px;
  align-items: center;
}
.orderItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.orderRow > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.orderRowDetails {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.orderRowProfile {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.orderRowProfile > p {
  font-size: 13px;
}
.itemRowDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
/*
  -----------------------------------------------------components------------------------------------------------------
*/

/* slider component*/
.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 5px;
  font-weight: 100;
  padding: 10px 10px;
}
.sliderCardContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 5px;
}
.sliderCard {
  width: 40vw;
  height: 22vh;
  flex-shrink: 0;
  border-radius: 15px;
  overflow: hidden;
  max-height: 200px;
  max-width: 200px;
  background-size: cover;
  color: #fff;
  margin-bottom: 10px;
  position: relative;
}
.sliderCard span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  inset-inline: 0;
  padding: 10px 10px;
  background-image: linear-gradient(360deg, var(--mid-pink), rgba(255, 0, 0, 0));
}
.sliderCard i {
  background: url('../../../public/img/svg/searchExtra.svg');
  color: #fff;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background-size: cover;
}
/* banner component*/
.banners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bannerCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  max-width: 500px;
  height: max-content;
  min-height: 200px;
  width: 95vw;
  color: #fff;
  border-radius: 10px;
  padding: 20px 15px 20px;
}
.bannerCard svg {
  width: 40px;
  height: 40px;
}
.bannerCard h2 {
  font-weight: 300;
  font-size: 17px;
  margin-top: 5px;
}
.bannerCard p {
  font-size: 15px;
  font-weight: 200;
}
.bannerCard button {
  color: #FFF;
  display: flex;
  min-width: 100px;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 4px 10px;
  background-color: var(--mid-pink);
  border-radius: 12px;
  border: 0;
  align-self: end;
  font-family: inherit;
}
.bannerCard button > i {
  display: block;
  width: 15px;
  height: 15px;
  background: url('../../../public/img/svg/arrow.svg');
}
.bannerCardRow{
  display: flex;
  gap: 10px;
  align-items: center;
}

/* info box component*/
.infoBox {
  padding: 20px;
  /*border: 2px solid var(--mid-pink);*/
  width: 100%;
  height: auto;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  background-color: var(--white-pink);
  box-shadow: 2px 2px 5px grey;
}
.infoBox h2 {
  padding-bottom: 10px;
}

/* profile picture component*/

.profilePicture {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  width: 100%;
  height: 100%;
}
.pfpButtons {
  position: absolute;
  z-index: 300;
}

.pfpButtons > * {
  z-index: 300;
  position: absolute;
  background-color: rgba(224, 222, 222, 1);
  border-radius: 20px;
  padding: 5px;
  top: 27px;
}
.pfpButtons > .logout {
  right: 7vw;
}
.pfpButtons > .edit {
  left: 7vw;
}
.profilePicture img {
  max-width: 100%;
  max-height: 100%;
}

/* icon input component */

.iconInput {
  border: 0;
  border-radius: 12px;
  box-shadow: 2px 2px 5px #d3d1d1;
  background-color: var(--light-grey);
  height: 20%;
  padding: 5px 10px 5px;
  color: black;
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 100%;
}

.iconInput > input {
  border: 0;
  border-radius: 12px;
  background-color: var(--light-grey);
  width: 85%;
  outline: none;
  color: black;
}

/* articles page */
.categories-swiper {
  width: 100%;
}
.swiper-wrapper {
}
.categories-swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 95px;
}
.categories-swiper .swiper-slide > img {
  width: 95px;
  height: 118px;
}

/* CALENDAR */

.calendarContainer {
  border-radius: 3px;
  box-shadow: 0 3px 10px #dbdbdb;
  border: 1px solid #cccccc;
  width: 300px;
  margin: auto;
  text-align: center;
  padding: 10px;
  background-color: #fff;
}

.calendarContainer * {
  box-sizing: border-box;
}

.calendarContainer .dayPickerContainer:after,
.calendarContainer .monthsList:after,
.calendarContainer .daysOfWeek:after {
  content: '';
  display: block;
  clear: both;
}

/* Heading */
.calendarContainer .heading {
  height: 42px;
  font-weight: bold;
  margin-bottom: 10px;
}

.calendarContainer .heading > button {
  border-radius: 3px;
  background: none;
  margin: 5px 0;
  border: 1px solid #f7f7f7;
  text-align: center;
  line-height: 30px;
  width: 36px;
  height: 32px;
  cursor: pointer;
}

.calendarContainer .heading > button:hover {
  background-color: #f2f2f2;
}

.calendarContainer .heading > span {
  line-height: 35px;
}

.calendarContainer .heading svg {
  width: 10px;
}

.calendarContainer .heading .prev {
  float: right;
}

.calendarContainer .heading .next {
  float: left;
}

.calendarContainer .heading .title {
  line-height: 32px;
  width: 120px;
  height: 32px;
  font-size: 1em;
  margin: 5px 0;
  border: 1px solid #f7f7f7;
  text-align: center;
  display: inline-block;
  font-weight: normal;
}

/* Day wrapper styles */
.calendarContainer .dayWrapper {
  padding: 5px;
  float: right;
  width: 14.28571429%;
}

/* Day wrapper button styles */
.calendarContainer .dayWrapper button {
  border: none;
  background: none;
  outline: none;
  width: 100%;
  height: 36px;
  border-radius: 3px;
  cursor: pointer;
}

.calendarContainer .dayWrapper button:hover {
  background-color: #eeeeff;
}

.calendarContainer .dayWrapper button[disabled] {
  color: #aaa;
  cursor: not-allowed;
  background-color: #ebebeb;
}

.calendarContainer .dayWrapper button.selected {
  background-color: #337ab7;
  color: #ffffff;
}

.calendarContainer .dayWrapper:not(.currentMonth) button {
  opacity: 0.5;
}

/* Days of week row */
.calendarContainer .daysOfWeek {
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
  padding-bottom: 5px;
  display: flex;
  width: 100%;
}

.calendarContainer .daysOfWeek > div {
  flex-grow: 1;
  justify-content: space-between;
}

/* Month selector portion */
.calendarContainer .monthsList {
  clear: both;
  width: 100%;
}

.calendarContainer .monthsList button {
  width: 33.33333332%;
  height: 25%;
  float: right;
  border: 1px solid #f9f9f9;
  outline: none;
  font-size: 1em;
  background: #fff;
  padding: 10px 0;
  cursor: pointer;
}

.calendarContainer .monthsList button:hover {
  background: #eeeeee;
  cursor: pointer;
}

/* Selected state of buttons */
.calendarContainer .selected button,
.calendarContainer .selected button:hover,
.calendarContainer .selected button:active,
.calendarContainer .selected button:focus {
  background-color: #337ab7;
  color: #ffffff;
}

.app-date-picker {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tether-element {
  z-index: 1;
}
.app-date-picker > div input {
  border: 1px solid var(--mid-pink);
  padding: 16.5px 14px;
  border-radius: 10px;
  background-color: var(--white-pink);
  width: 100%;
}

/* NEW-ORDER - SERVICE-STEP */
.service-step-container {
  width: 100%;
}

.service-step-container .hint-text {
  color: var(--light-black);
  font-size: 14px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.service-step-container .cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.service-step-container .card {
  background: rgb(253, 190, 172);
  display: flex;
  align-items: center;
  padding: 20px 24px;
  gap: 20px;
  border-radius: 6px;
  height: 70px;
}

.service-step-container .card img {
  width: 40px;
  height: 40px;
}
.service-step-container .card .delete-btn {
  margin-right: auto;
  display: none;
}

.service-step-container .card.selected {
  background: var(--mid-pink);
}
.service-step-container .card.selected .delete-btn {
  display: block;
}

.service-step-container .card h2 {
  font-size: 18px;
  font-weight: 500;
}

.service-step-container .content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.workers-schedule {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.workers-schedule .card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
  flex: 1;
  min-width: 100px;
  height: unset;
}

.workers-schedule .card .day {
  display: flex;
  gap: 6px;
  align-items: center;
  font-weight: 600;
}

.workers-schedule .card .sections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 10px;
  direction: ltr;
}

.workers-schedule .card .sections .section {
  border: 1px solid var(--mid-pink);
  text-align: center;
  padding: 12px 6px;
  border-radius: 4px;
  font-weight: 400;
  direction: ltr;
}

.workers-schedule .card .sections .section.selected {
  background-color: var(--mid-pink);
  color: #fff;
}

.bottom-section {
  position: fixed;
  background-color: #fff;
  bottom: 60px;
  inset-inline: 0;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-top: 1px solid #eee;
  z-index: 1;
}
.bottom-section .btn-section {
  display: flex;
  gap: 4px;
}

.bottom-section .btn-section button {
  flex: 1;
}

.bottom-section .cart-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-section .cart-section .info h1 {
  font-size: 16px;
}
.bottom-section .cart-section .info > div {
  display: flex;
  gap: 6px;
  align-items: center;
}
.bottom-section .cart-section .info .worker {
  font-size: 14px;
}
.bottom-section .cart-section .info .circle {
  width: 4px;
  height: 4px;
  background-color: var(--light-black);
  border-radius: 50%;
}
.bottom-section .cart-section .info .date-time {
  font-size: 12px;
}

.addressContainer.selected {
  border-radius: 12px;
  background-color: var(--mid-pink);
}

.progress {
  position: sticky;
  width: 100vw;
  height: 4px;
  top: 0;
  background-color: #e8e4e2;
  margin-bottom: 24px;
}
.progress .progress-active {
  position: absolute;
  height: 4px;
  background-color: var(--mid-pink);
  transition: 0.3s width;
  will-change: width;
}

.leaflet-container {
  width: 100%;
  height: 200px;
}

.service-step-container .tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-bottom: 24px;
  overflow: auto;
}

.service-step-container .tabs .tab {
  background-color: var(--white-pink);
  padding: 12px;
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
}

.service-step-container .tabs .tab.selected {
  background-color: var(--mid-pink);
}

/* LOADING */
.loading-wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  position: fixed;
  z-index: 99999;
  inset: 0;
  backdrop-filter: blur(12px);
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading div {
  animation: loading 1s linear infinite;
  width: 115.19999999999999px;
  height: 115.19999999999999px;
  border-radius: 50%;
  box-shadow: 0 4.32px 0 0 #3f4d67;
  transform-origin: 57.599999999999994px 59.76px;
}
.loadingio-spinner-eclipse-nfpkt5sn92h {
  width: 144px;
  height: 144px;
  display: inline-block;
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
}
.loading {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.loading div {
  box-sizing: content-box;
}

.attr-box {
  border: 2px dotted transparent;
}

.attr-box.selected {
  border-color: rgb(245, 150, 165);
  background-color: var(--light-pink);
}

.banner-row {
  display: flex;
  gap: 4px;
}

.banner-row svg {
  width: 24px;
  height: 24px;
}

.contact-us {
  background: linear-gradient(282deg, rgb(255, 135, 177), rgba(255, 163, 195, 0.2));
  align-items: flex-start;
  padding: 20px 15px 10px;
  border-radius: 10px;
  color: #fff;
  width: 95vw;
  gap: 12px;
  margin-inline: auto;
}

.section-logo {
  width: 40px !important;
  height: 40px !important;
}

.whatsapp-btn {
  background-color: var(--white-pink);
  color: #3f4d67;
  padding: 6px 28px;
  border-radius: 4px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

.comment-textarea {
  font-family: vazir, poppins, serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 16px 12px;
  border-radius: 12px 12px 0 12px;
  color: #1c2025;
  background: var(--white-pink);
  box-shadow: none;
  border: 1px solid var(--mid-pink);
  outline: 0;
  resize: none;
}

.comment-textarea:hover {
  border-color: var(--mid-pink);
}

.comment-textarea:focus {
  outline: 0;
  border-color: var(--light-pink);
  box-shadow: 0 0 3px 3px var(--mid-pink);
}

.comment-textarea:focus-visible {
  outline: 0;
}
.close-button{
  content: url("/public/img/svg/cancel.svg");
  width: 40px;
  height: 40px;
  position: absolute;
  margin-top: -30px;
  left: 1px;
  padding: 5px;
}